body {
    background-color:skyblue;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.koekGrid {
    display: grid;
    justify-content: center;
    justify-items: center;
    max-width: 976px;
    margin: 50px auto;
    grid-template-areas:
     "head"
    "button"
    "dots"
    "meelGrid";
    
grid-template-rows: 200px 100px 50px 1fr;
grid-template-columns: 1fr;
}

/* start of header area "head" */

header {
    grid-area: head;
    background-color: blanchedalmond;
    width: 100%;
    padding: 20px;
    border-top-left-radius: 50% 99%;
    border-top-right-radius: 88% 12%;
    border-bottom-left-radius: 12.5% 25%;
    border-bottom-right-radius: 12% 88%;
}

h1 {
  text-transform: uppercase;
  font-style: oblique;  
}

header p {
    text-align: right;
}


h3 {
    text-align: center;
}

/* start of button area "button */
button {
    margin-top: 20px;
    grid-area: button;
    width: 300px; 
    height: 100px;
    background-color: white;
    font-size: 1.5rem;
    color: black;
    border: none;
    border-radius: 25px;
}

/* loading dots area: "dots" */
.waitingContainer {
    margin: 20px auto;
    display: flex;
    grid-area: dots;
}

.dot {
    display: none;
    margin: 20px;
    background-color: brown;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

/* start JS generated "meelGrid"area */

.meelGrid {
    display: grid;
    grid-area: meelGrid;
    background-color: white;
    border-radius: 25px 50px;
    grid-template-areas: 
    "receptNaam"
    "picture"
    "receptGrid";
    grid-template-rows: 150px 400px 400px;
    justify-content: center;
    justify-items: center;
    margin-top: 50px;
}

#receptnaam {
    grid-area: receptnaam;
    text-align: center;
}

#meelPicture {
    grid-area: picture;
    width: 100%;
    background-size: cover;
    background-position: center;

}

.receptGrid {
    grid-area: receptGrid;
    display: grid;
    grid-template-areas: 
    "metadata metadata"
    "ingredienten instructies";
    grid-template-rows: 50px 400px;
    background-color: blanchedalmond;
    
}

.metaContainer {
    grid-area: metadata;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.listHolder {
    /* might be deleted */
    padding: 20px;
}

.ingredientenHouder {
    grid-area: ingredienten;
    background-color: white;    
}


.instructiesHouder {
    grid-area: instructies;    
};



    


